<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="3u 6u(medium) 12u$(small)">

        <!-- Links -->
        <section class="widget links">
          <h3>Legal</h3>
          <ul class="style2">
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms">Terms of Use</a></li>
          </ul>
        </section>

      </div>
      <div class="3u 6u$(medium) 12u$(small)">

        <!-- Links -->
        <section class="widget links">
          <h3>Tools</h3>
          <ul class="style2">
            <!--<li><a href="/booking">Booking &amp; Calendar</a></li>-->
            <li><a href="/sitemap">Sitemap</a></li>
          </ul>
        </section>

      </div>
      <div class="3u 6u(medium) 12u$(small)">

        <!-- Links -->
        <section class="widget links">
          <h3>Join Us</h3>
          <ul class="style2">
            <li><a href="/affiliates">Affiliates</a></li>
            <li><a href="/jobs">Jobs</a></li>
          </ul>
        </section>

      </div>
      <div class="3u 6u$(medium) 12u$(small)">

        <!-- Contact -->
        <section class="widget contact last">
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="https://www.facebook.com/AiyaMassage" class="icon icon-facebook">
                <span class="label">Facebook</span>
              </a>
            </li>
            <li>
              <a href="http://www.yelp.com/biz/aiya-massage-austin" class="icon icon-yelp">
                <span class="label">Yelp</span>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/search/Hair+City,+Research+Boulevard,+Austin,+TX/" class="icon icon-google">
                <span class="label">Google Maps</span>
              </a>
            </li>
          </ul>
          <address>
            8557 Research Blvd.<br />
            Austin, TX 78758<br />
            <a href="tel:+5125869130">(512) 586-9138</a>
          </address>
        </section>

      </div>
    </div>
    <div class="row">
      <div class="12u">
        <div id="copyright">
          <ul class="menu">
            <li>&copy; Āiyā Massage. All rights reserved</li>
            <li>Design:
              <a href="http://html5up.net">HTML5 UP</a>,
              <a href="http://yi3artist.com">Yi3 Artist</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>