<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
    <div id="logo">
      <h1><a href="/">哎呀</a></h1>
      <span>Āiyā Massage Bodyworks</span>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li>
          <a href="/">Welcome</a>
          <ul>
            <li>
              <a href="/aiya-custom-massage">Āiyā Custom Massage</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/pricing">Pricing</a>
        </li>
        <li>
          <a href="/locations">Locations</a>
          <ul>
            <li>
              <a href="/locations#north-austin">
                <abbr title="8557 Research Blvd. Austin, TX 78758">North Austin</abbr>
              </a>
            </li>
            <li>
              <a href="/locations#on-site-appointment">On-Site Appointment</a>
            </li>
            <li>
              <a href="/locations#south-austin">South Austin <span class="weak">(Coming Soon)</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/disciplines">Disciplines</a>
          <ul>
            {{#each disciplines}}
            <li>
              <a href="/disciplines#{{id}}">
                <span>{{name}}</span>
                {{#if hasTrademark}}
                <sup class="trademark">Āiyā</sup>
                {{/if}}
               </a>
            </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </nav>

  </header>
</div>