<section id="{{id}}" class="box feature">
  <a href="mailto:jobs@aiyamassage.com?subject=Applying For: {{name}}" class="image featured fit large {{image.shape}}">
    {{> image image}}
  </a>
  <div class="inner">
    <header>
      <h2>{{name}}</h2>
      <p>{{summary}}</p>
    </header>
    <p>{{description}}</p>
  </div>
</section>