<!DOCTYPE html>
{{> comments/copyright}}
<html>
  {{> head}}
  <body class="homepage">
    {{> comments/ie-warning}}

    <!-- Page -->
    <div id="page-wrapper">
      {{> header}}

      {{{body}}}

      {{> footer}}
    </div>

    {{> scripts}}

  </body>
</html>