<!DOCTYPE html>
{{> comments/copyright}}
<html>
  {{> head}}
  <body class="no-sidebar">
    {{> comments/ie-warning}}

    <!-- Page -->
    <div id="page-wrapper">
      {{> header}}

      <div id="main-wrapper">
        <div class="container">
          <!-- Should wrap with this markup -->
          <!--<div id="content">-->
          {{{body}}}
          <!--</div>=-->
        </div>
      </div>

      {{> footer}}
    </div>

    {{> scripts}}

  </body>
</html>