<!DOCTYPE html>
{{> comments/copyright}}
<html>
  {{> head}}
  <body class="right-sidebar">
    {{> comments/ie-warning}}

    <!-- Page -->
    <div id="page-wrapper">
      {{> header}}

      <div id="main-wrapper">
        <div class="container">
          <div class="row 200%">
            <!-- Should wrap with this markup -->
            <!--
            <div class="8u 12u$(medium)">
              <div id="content">
            -->
                {{{body}}}
            <!--
              </div>
            </div>
            <div class="4u 12u$(medium)">
              <div id="sidebar">...</div>
            </div>
            -->
          </div>
        </div>
      </div>

      {{> footer}}
    </div>

    {{> scripts}}

  </body>
</html>