<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>Other Awesome Companies</h2>
    <p>Services we trust. People we know.</p>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      {{#each affiliates}}
      <div class="6u 12u(small)">
        {{> affiliate this}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>Lets Work Together</h2>
    <p>
      <span>Get in touch with us:</span>
      <a href="mailto:owner@aiyamassage.com">owner@aiyamassage.com</a>
    </p>
  </div>
</div>
