<div class="row">
  <div class="2u 12u$(medium)">
    <div id="sidebar">

      <section class="widget thumbnails">
        <h3>Disciplines</h3>
        <div class="grid">
          <div class="row 50%">
            {{#each disciplines}}
            <div class="12u 3u(medium) 4u(small)">
              <a href="/disciplines#{{id}}" class="image fit small {{image.shape}}">
                {{> image image}}
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </section>

    </div>
  </div>
  <div class="10u 12u$(medium) important(medium)">
    <div id="content">

      {{> articles/custom-massage}}

    </div>
  </div>
</div>