<div id="placeholder-wrapper">

  <!-- Content -->
  <section id="placeholder">
    <div id="logo">
      <h1>哎呀</h1>
      <span>Āiyā Massage</span>
    </div>
    <footer class="box">
      <h2>Coming Soon</h2>
      <q>
        <span>Your body is unique.</span>
        <span>Your massage should be too.</span>
      </q>
      <address class="list">
        <strong class="list-item">Lindsey Lin</strong>
        <a href="tel:+5125869138" class="list-item">(512) 586-9138</a>
      </address>
    </footer>
  </section>

</div>