<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>Āiyā Massage Disciplines</h2>
    <p>Multi-discipline massages for a multifaceted you.</p>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      {{#each disciplines}}
        {{#ifeq this.id "tuina-chinese-massage|relaxation-massage"}}
        <div class="4u 6u(medium) 10u(small) -1u(small) 12u(xsmall)">
          {{> discipline this}}
        </div>
        {{else}}
        <div class="4u 6u(medium) 12u(xsmall)">
          {{> discipline this}}
        </div>
        {{/ifeq}}
      {{/each}}
    </div>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <blockquote id="content">
      {{> articles/quote}}
    </blockquote>
  </div>
</div>