<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>Āiyā Job Opportunities</h2>
    <p>Apply your unique skills. Strive to learn more.</p>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      {{#each jobs}}
      <div class="standalone 6u 12u(medium)">
        {{> job this}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>Join Our Team</h2>
    <p>
      <span>Send your resume to</span>
      <a href="mailto:lindsey@aiyamassage.com">jobs@aiyamassage.com</a>
    </p>
  </div>
</div>
