<div id="content">

  <!-- Content -->
  <h2>Locations</h2>

  <div class="row">
    <div id="north-austin" class="map 6u 12u(medium)">
      <h3>North Location</h3>
      <address class="map-address complete">
        <strong>Aiya Massage</strong> <span class="weak">(inside Hair City)</span><br />
        <span>8557 Research Blvd Austin, TX 78758</span><br />
        <a href="tel:+5125869130">(512) 586-9138</a>
      </address>
      <iframe id="map-north" class="map-canvas" frameborder="0" allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYe76oZP3-iv7jbvhgh4oz7x2MAQrVWyY&q=Hair+City,+8557+Research+Blvd,+Austin,+TX+78758,+United+States/&zoom=17"></iframe>
    </div>
    <div id="on-site-appointment" class="map 6u 12u(medium)">
      <h3>On-Site Appointment</h3>
      <address class="map-address complete">
        <strong>Austin, TX</strong><br />
        <span>Appointments may be scheduled by phone.</span><br />
        <a href="tel:+5125869130">(512) 586-9138</a>
      </address>
      <iframe id="map-austin" class="map-canvas" frameborder="0" allowfullscreen
              src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDYe76oZP3-iv7jbvhgh4oz7x2MAQrVWyY&zoom=11&center=30.2672,-97.7431"></iframe>
    </div>
    <div id="south-austin" class="map 6u 12u(medium)">
      <h3>South Location</h3>
      <address class="map-address">
        <strong>Coming Soon</strong><br />
        <span>We are looking for a South Austin location.</span>
      </address>
      <iframe id="map-austin" class="map-canvas" frameborder="0" allowfullscreen
              src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDYe76oZP3-iv7jbvhgh4oz7x2MAQrVWyY&zoom=13&center=30.2400,-97.7900"></iframe>
    </div>
  </div>

</div>
