<div id="content">

  <!-- Content -->
  <h2 id="aiya-massage-services">Aiya Massage Services</h2>

  <div class="row">
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.customMassage}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$70.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$100.00</td>
          </tr>
          <tr>
            <td class="numeric">120 min</td>
            <td class="numeric">$130.00</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.deepTissue}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$60.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$90.00</td>
          </tr>
          <tr>
            <td class="numeric">120 min</td>
            <td class="numeric">$120.00</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.relaxationMassage}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$60.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$90.00</td>
          </tr>
          <tr>
            <td class="numeric">120 min</td>
            <td class="numeric">$120.00</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.swedishMassage}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$60.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$88.00</td>
          </tr>
          <tr class="extraneous">
            <td class="numeric">120 min</td>
            <td class="numeric">N/A</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.ashiatsuShiatsu}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$60.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$90.00</td>
          </tr>
          <tr class="extraneous">
            <td class="numeric">120 min</td>
            <td class="numeric">N/A</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.handFootReflexology}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="numeric">30 min</td>
            <td class="numeric">$30.00</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$50.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$70.00</td>
          </tr>
          <tr>
            <td class="numeric">120 min</td>
            <td class="numeric">$90.00</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.thaiMassage}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$60.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$90.00</td>
          </tr>
          <tr class="extraneous">
            <td class="numeric">120 min</td>
            <td class="numeric">N/A</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.myofascialRelease}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$100.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$200.00</td>
          </tr>
          <tr class="extraneous">
            <td class="numeric">120 min</td>
            <td class="numeric">N/A</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
    <div class="3u 4u(large) 6u(medium) 12u$(small)">

      {{#with disciplines.tuinaChineseMassage}}
      <table id="{{id}}" class="default static constant-target">
        <caption>
          <h3>
            <a href="disciplines#{{id}}">{{name}}</a>
          </h3>
          <q>{{summary}}</q>
        </caption>
        <thead>
          <tr>
            <th class="numeric">Duration</th>
            <th class="numeric">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="extraneous">
            <td class="numeric">30 min</td>
            <td class="numeric">N/A</td>
          </tr>
          <tr>
            <td class="numeric">60 min</td>
            <td class="numeric">$60.00</td>
          </tr>
          <tr>
            <td class="numeric">90 min</td>
            <td class="numeric">$90.00</td>
          </tr>
          <tr class="extraneous">
            <td class="numeric">120 min</td>
            <td class="numeric">N/A</td>
          </tr>
        </tbody>
      </table>
      {{/with}}

    </div>
  </div>

</div>