<div id="content">

  <!-- Content -->
  <h2>Sitemap</h2>

  <div class="row sitemap">
    <div class="3u 6u(medium) 12u$(small)">

      <!-- Links -->
      <section class="widget links">
        <h3>Main</h3>
        <ul>
          <li>
            <a href="/">Welcome</a>
          </li>
          <li class="parent">
            <ul>
              <li>
                <a href="/aiya-custom-massage">Aiya Custom Massage</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/pricing">Pricing</a>
          </li>
          <li>
            <a href="/locations">Locations</a>
          </li>
          <li>
            <a href="/disciplines">Disciplines</a>
          </li>
        <ul>
      </section>

    </div>
    <div class="3u 6u(medium) 12u$(small)">

      <!-- Locations -->
      <section class="widget links">
        <h3>Locations</h3>
        <ul>
          <li>
            <a href="/locations#north-austin">
              <abbr title="8557 Research Blvd. Austin, TX 78758">North Austin</abbr>
            </a>
          </li>
          <li>
            <a href="/locations#on-site-appointment">On-Site Appointment</a>
          </li>
          <li>
            <a href="/locations#south-austin">South Austin <span class="weak">(Coming Soon)</span></a>
          </li>
          <li class="extraneous">.</li>
          <li class="extraneous">.</li>
        </ul>
      </section>

    </div>
    <div class="6u 12u$(medium)">

      <!-- Disciplines -->
      <section class="widget links">
        <h3>Disciplines</h3>
        <div class="row">

          <ul class="6u 12u$(small)">
            <li>
              <a href="/disciplines#custom-massage">
                <span>Your Custom Massage</span>
                <sup class="trademark">Āiyā</sup>
               </a>
            </li>
            <li>
              <a href="/disciplines#relaxation-massage">
                <span>Relaxation Massage</span>
                <sup class="trademark">Āiyā</sup>
               </a>
            </li>
            <li>
              <a href="/disciplines#deep-tissue">
                <span>Deep Tissue Massage</span>
                <sup class="trademark">Āiyā</sup>
               </a>
            </li>
            <li>
              <a href="/disciplines#tuina-chinese-massage">Tui Na <span class="weak">推拿</span></a>
            </li>
            <li class="extraneous">.</li>
          </ul>

          <ul class="6u 12u$(small)">
            <li>
              <a href="/disciplines#swedish-massage">Traditional Swedish Massage</a>
            </li>
            <li>
              <a href="/disciplines#ashiatsu-shiatsu">Ashiatsu &amp; Shiatsu</a>
            </li>
            <li>
              <a href="/disciplines#thai-massage">Thai Massage</a>
            </li>
            <li>
              <a href="/disciplines#hand-foot-reflexology">Hand &amp; Foot Reflexology</a>
            </li>
            <li>
              <a href="/disciplines#myofascial-release">Myofascial Release</a>
            </li>
          </ul>
        </div>
      </section>

    </div>
  </div>

</div>
