<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="7u 12u(medium)">
        <h2>Welcome to Āiyā</h2>
        <p>Your body is unique.</p>
        <p>Your massage should be too.</p>
      </div>
      <div class="5u 12u(medium)">
        <ul>
          <li>
            {{!-- <a href="#" class="button big icon icon-right-circled"><abbr ttitle="Book Appointment">Book Appt.</abbr></a> --}}
            <a class="button big icon icon-phone-squared" href="tel:+5125869130">(512) 828-9702</a>
          </li>
          <li>
            <a href="#custom-massage-excerpt" class="button alt big icon icon-help-circled">About Āiyā</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="4u 6u(medium) 12u(xsmall)">
        {{> discipline disciplines.customMassage}}
      </div>
      <div class="4u 6u(medium) 12u(xsmall)">
        {{> discipline disciplines.deepTissue}}
      </div>
      <div class="4u 8u(medium) -2u(medium) 12u(small)">
        {{> discipline disciplines.relaxationMassage}}
      </div>
    </div>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="4u 12u(medium)">

        <!-- Sidebar -->
        <div id="sidebar">
          <section class="widget thumbnails">
            <h3>Mixed-Discipline Massage</h3>
            <div class="grid">
              <div class="row 50%">
                {{#with disciplines.thaiMassage}}
                <div class="6u">
                  <a href="/disciplines#{{id}}" class="image fit small {{image.shape}}">
                    {{> image image}}
                  </a>
                </div>
                {{/with}}
                {{#with disciplines.handFootReflexology}}
                <div class="6u">
                  <a href="/disciplines#{{id}}" class="image fit small {{image.shape}}">
                    {{> image image}}
                  </a>
                </div>
                {{/with}}
                {{#with disciplines.tuinaChineseMassage}}
                <div class="6u">
                  <a href="/disciplines#{{id}}" class="image fit small {{image.shape}}">
                    {{> image image}}
                  </a>
                </div>
                {{/with}}
                {{#with disciplines.ashiatsuShiatsu}}
                <div class="6u">
                  <a href="/disciplines#{{id}}" class="image fit small {{image.shape}}">
                    {{> image image}}
                  </a>
                </div>
                {{/with}}
              </div>
            </div>
            <a href="/disciplines" class="button icon icon-doc-text">More</a>
          </section>
        </div>

      </div>
      <div class="8u 12u(medium) important(medium)">

        <!-- Content -->
        <div id="content">
          <section class="last" id="custom-massage-excerpt">

            {{> articles/custom-massage-excerpt}}

            <a href="/aiya-custom-massage#more" class="button icon icon-right-circled">Continue Reading</a>
          </section>
        </div>

      </div>
    </div>
  </div>
</div>
