<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>The Internet failed...</h2>
    <p>It did not find the page you requested.</p>
    <p><a href="/">You may try the homepage.</a></p>
  </div>
</div>