<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container alt">
    <h2>We broke the internet.</h2>
    <p>We're sorry. Our server made a mistake.</p>
    <p class="weak">Please try again later.</p>
  </div>
</div>