
/*
  Verti by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }

/* Box Model */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* Containers */

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  /* AIYA - Comment unused code *//*
  .container.\31 25\25 {
    width: 100%;
    max-width: 1750px;
    min-width: 1400px;
  }

  .container.\37 5\25 {
    width: 1050px;
  }

  .container.\35 0\25 {
    width: 700px;
  }

  .container.\32 5\25 {
    width: 350px;
  }
  *//* AIYA - Comment unused code */
  .container {
    width: 1400px;
  }

  @media screen and (max-width: 1680px) {
    /* AIYA - Comment unused code *//*
    .container.\31 25\25 {
      width: 100%;
      max-width: 1500px;
      min-width: 1200px;
    }

    .container.\37 5\25 {
      width: 900px;
    }

    .container.\35 0\25 {
      width: 600px;
    }

    .container.\32 5\25 {
      width: 300px;
    }
    *//* AIYA - Comment unused code */
    .container {
      width: 1200px;
    }

  }

  @media screen and (max-width: 1280px) {
    /* AIYA - Comment unused code *//*
    .container.\31 25\25 {
      width: 100%;
      max-width: 1200px;
      min-width: 960px;
    }

    .container.\37 5\25 {
      width: 720px;
    }

    .container.\35 0\25 {
      width: 480px;
    }

    .container.\32 5\25 {
      width: 240px;
    }
    *//* AIYA - Comment unused code */
    .container {
      width: 960px;
    }

  }

  @media screen and (max-width: 980px) {
    /* AIYA - Comment unused code *//*
    .container.\31 25\25 {
      width: 100%;
      max-width: 112.5%;
      min-width: 90%;
    }

    .container.\37 5\25 {
      width: 67.5%;
    }

    .container.\35 0\25 {
      width: 45%;
    }

    .container.\32 5\25 {
      width: 22.5%;
    }
    *//* AIYA - Comment unused code */
    .container {
      width: 90% !important;
    }

  }

  @media screen and (max-width: 736px) {
    /* AIYA - Comment unused code *//*
    .container.\31 25\25 {
      width: 100%;
      max-width: 125%;
      min-width: 100%;
    }

    .container.\37 5\25 {
      width: 75%;
    }

    .container.\35 0\25 {
      width: 50%;
    }

    .container.\32 5\25 {
      width: 25%;
    }
    *//* AIYA - Comment unused code */
    .container {
      width: 100% !important;
    }

  }

/* Grid */

  .row {
    border-bottom: solid 1px transparent;
    /* AIYA - Remove outdated CSS *//*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    *//* AIYA - Remove outdated CSS */
    box-sizing: border-box;
  }

  .row > * {
    float: left;
    /* AIYA - Remove outdated CSS *//*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    *//* AIYA - Remove outdated CSS */
    box-sizing: border-box;
  }

  .row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform > * > :first-child {
    margin-top: 0;
  }

  .row.uniform > * > :last-child {
    margin-bottom: 0;
  }
  *//* AIYA - Comment unused code */

  .row.\30 \25 > * {
    padding: 0px 0 0 0px;
  }

  .row.\30 \25 {
    margin: 0px 0 -1px 0px;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform.\30 \25 > * {
    padding: 0px 0 0 0px;
  }

  .row.uniform.\30 \25 {
    margin: 0px 0 -1px 0px;
  }
  *//* AIYA - Comment unused code */

  .row > * {
    padding: 40px 0 0 40px;
  }

  .row {
    margin: -40px 0 -1px -40px;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform > * {
    padding: 40px 0 0 40px;
  }

  .row.uniform {
    margin: -40px 0 -1px -40px;
  }
  *//* AIYA - Comment unused code */

  .row.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform.\32 00\25 > * {
    padding: 80px 0 0 80px;
  }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px;
  }
  *//* AIYA - Comment unused code */

  .row.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform.\31 50\25 > * {
    padding: 60px 0 0 60px;
  }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px;
  }
  *//* AIYA - Comment unused code */

  .row.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform.\35 0\25 > * {
    padding: 20px 0 0 20px;
  }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px;
  }
  *//* AIYA - Comment unused code */

  .row.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }

  /* AIYA - Comment unused code *//*
  .row.uniform.\32 5\25 > * {
    padding: 10px 0 0 10px;
  }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px;
  }
  *//* AIYA - Comment unused code */

  .\31 2u, .\31 2u\24 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u, .\31 1u\24 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u, .\31 0u\24 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u, .\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u, .\38 u\24 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u, .\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u, .\36 u\24 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u, .\35 u\24 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u, .\34 u\24 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u, .\33 u\24 {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u, .\32 u\24 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u, .\31 u\24 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\24 + *,
  .\31 1u\24 + *,
  .\31 0u\24 + *,
  .\39 u\24 + *,
  .\38 u\24 + *,
  .\37 u\24 + *,
  .\36 u\24 + *,
  .\35 u\24 + *,
  .\34 u\24 + *,
  .\33 u\24 + *,
  .\32 u\24 + *,
  .\31 u\24 + * {
    clear: left;
  }

  .\-11u {
    margin-left: 91.66667%;
  }

  .\-10u {
    margin-left: 83.33333%;
  }

  .\-9u {
    margin-left: 75%;
  }

  .\-8u {
    margin-left: 66.66667%;
  }

  .\-7u {
    margin-left: 58.33333%;
  }

  .\-6u {
    margin-left: 50%;
  }

  .\-5u {
    margin-left: 41.66667%;
  }

  .\-4u {
    margin-left: 33.33333%;
  }

  .\-3u {
    margin-left: 25%;
  }

  .\-2u {
    margin-left: 16.66667%;
  }

  .\-1u {
    margin-left: 8.33333%;
  }

  @media screen and (max-width: 1680px) {

    .row > * {
      padding: 40px 0 0 40px;
    }

    .row {
      margin: -40px 0 -1px -40px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform > * {
      padding: 40px 0 0 40px;
    }

    .row.uniform {
      margin: -40px 0 -1px -40px;
    }

    .row.\32 00\25 > * {
      padding: 80px 0 0 80px;
    }

    .row.\32 00\25 {
      margin: -80px 0 -1px -80px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 00\25 > * {
      padding: 80px 0 0 80px;
    }

    .row.uniform.\32 00\25 {
      margin: -80px 0 -1px -80px;
    }

    .row.\31 50\25 > * {
      padding: 60px 0 0 60px;
    }

    .row.\31 50\25 {
      margin: -60px 0 -1px -60px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\31 50\25 > * {
      padding: 60px 0 0 60px;
    }

    .row.uniform.\31 50\25 {
      margin: -60px 0 -1px -60px;
    }

    .row.\35 0\25 > * {
      padding: 20px 0 0 20px;
    }

    .row.\35 0\25 {
      margin: -20px 0 -1px -20px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\35 0\25 > * {
      padding: 20px 0 0 20px;
    }

    .row.uniform.\35 0\25 {
      margin: -20px 0 -1px -20px;
    }

    .row.\32 5\25 > * {
      padding: 10px 0 0 10px;
    }

    .row.\32 5\25 {
      margin: -10px 0 -1px -10px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 5\25 > * {
      padding: 10px 0 0 10px;
    }

    .row.uniform.\32 5\25 {
      margin: -10px 0 -1px -10px;
    }

    .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
      width: 100%;
      clear: none;
      margin-left: 0;
    }

    .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
      width: 91.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
      width: 83.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
      width: 75%;
      clear: none;
      margin-left: 0;
    }

    .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
      width: 66.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
      width: 58.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
      width: 50%;
      clear: none;
      margin-left: 0;
    }

    .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
      width: 41.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
      width: 33.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
      width: 25%;
      clear: none;
      margin-left: 0;
    }

    .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
      width: 16.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
      width: 8.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\31 2u\24\28xlarge\29 + *,
    .\31 1u\24\28xlarge\29 + *,
    .\31 0u\24\28xlarge\29 + *,
    .\39 u\24\28xlarge\29 + *,
    .\38 u\24\28xlarge\29 + *,
    .\37 u\24\28xlarge\29 + *,
    .\36 u\24\28xlarge\29 + *,
    .\35 u\24\28xlarge\29 + *,
    .\34 u\24\28xlarge\29 + *,
    .\33 u\24\28xlarge\29 + *,
    .\32 u\24\28xlarge\29 + *,
    .\31 u\24\28xlarge\29 + * {
      clear: left;
    }

    .\-11u\28xlarge\29 {
      margin-left: 91.66667%;
    }

    .\-10u\28xlarge\29 {
      margin-left: 83.33333%;
    }

    .\-9u\28xlarge\29 {
      margin-left: 75%;
    }

    .\-8u\28xlarge\29 {
      margin-left: 66.66667%;
    }

    .\-7u\28xlarge\29 {
      margin-left: 58.33333%;
    }

    .\-6u\28xlarge\29 {
      margin-left: 50%;
    }

    .\-5u\28xlarge\29 {
      margin-left: 41.66667%;
    }

    .\-4u\28xlarge\29 {
      margin-left: 33.33333%;
    }

    .\-3u\28xlarge\29 {
      margin-left: 25%;
    }

    .\-2u\28xlarge\29 {
      margin-left: 16.66667%;
    }

    .\-1u\28xlarge\29 {
      margin-left: 8.33333%;
    }

  }

  @media screen and (max-width: 1280px) {

    .row > * {
      padding: 25px 0 0 25px;
    }

    .row {
      margin: -25px 0 -1px -25px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform > * {
      padding: 25px 0 0 25px;
    }

    .row.uniform {
      margin: -25px 0 -1px -25px;
    }
    *//* AIYA - Comment unused code */

    .row.\32 00\25 > * {
      padding: 50px 0 0 50px;
    }

    .row.\32 00\25 {
      margin: -50px 0 -1px -50px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 00\25 > * {
      padding: 50px 0 0 50px;
    }

    .row.uniform.\32 00\25 {
      margin: -50px 0 -1px -50px;
    }
    *//* AIYA - Comment unused code */

    .row.\31 50\25 > * {
      padding: 37.5px 0 0 37.5px;
    }

    .row.\31 50\25 {
      margin: -37.5px 0 -1px -37.5px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\31 50\25 > * {
      padding: 37.5px 0 0 37.5px;
    }

    .row.uniform.\31 50\25 {
      margin: -37.5px 0 -1px -37.5px;
    }
    *//* AIYA - Comment unused code */

    .row.\35 0\25 > * {
      padding: 12.5px 0 0 12.5px;
    }

    .row.\35 0\25 {
      margin: -12.5px 0 -1px -12.5px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\35 0\25 > * {
      padding: 12.5px 0 0 12.5px;
    }

    .row.uniform.\35 0\25 {
      margin: -12.5px 0 -1px -12.5px;
    }
    *//* AIYA - Comment unused code */

    .row.\32 5\25 > * {
      padding: 6.25px 0 0 6.25px;
    }

    .row.\32 5\25 {
      margin: -6.25px 0 -1px -6.25px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 5\25 > * {
      padding: 6.25px 0 0 6.25px;
    }

    .row.uniform.\32 5\25 {
      margin: -6.25px 0 -1px -6.25px;
    }
    *//* AIYA - Comment unused code */

    .\31 2u\28large\29, .\31 2u\24\28large\29 {
      width: 100%;
      clear: none;
      margin-left: 0;
    }

    .\31 1u\28large\29, .\31 1u\24\28large\29 {
      width: 91.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 0u\28large\29, .\31 0u\24\28large\29 {
      width: 83.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\39 u\28large\29, .\39 u\24\28large\29 {
      width: 75%;
      clear: none;
      margin-left: 0;
    }

    .\38 u\28large\29, .\38 u\24\28large\29 {
      width: 66.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\37 u\28large\29, .\37 u\24\28large\29 {
      width: 58.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\36 u\28large\29, .\36 u\24\28large\29 {
      width: 50%;
      clear: none;
      margin-left: 0;
    }

    .\35 u\28large\29, .\35 u\24\28large\29 {
      width: 41.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\34 u\28large\29, .\34 u\24\28large\29 {
      width: 33.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\33 u\28large\29, .\33 u\24\28large\29 {
      width: 25%;
      clear: none;
      margin-left: 0;
    }

    .\32 u\28large\29, .\32 u\24\28large\29 {
      width: 16.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 u\28large\29, .\31 u\24\28large\29 {
      width: 8.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\31 2u\24\28large\29 + *,
    .\31 1u\24\28large\29 + *,
    .\31 0u\24\28large\29 + *,
    .\39 u\24\28large\29 + *,
    .\38 u\24\28large\29 + *,
    .\37 u\24\28large\29 + *,
    .\36 u\24\28large\29 + *,
    .\35 u\24\28large\29 + *,
    .\34 u\24\28large\29 + *,
    .\33 u\24\28large\29 + *,
    .\32 u\24\28large\29 + *,
    .\31 u\24\28large\29 + * {
      clear: left;
    }

    .\-11u\28large\29 {
      margin-left: 91.66667%;
    }

    .\-10u\28large\29 {
      margin-left: 83.33333%;
    }

    .\-9u\28large\29 {
      margin-left: 75%;
    }

    .\-8u\28large\29 {
      margin-left: 66.66667%;
    }

    .\-7u\28large\29 {
      margin-left: 58.33333%;
    }

    .\-6u\28large\29 {
      margin-left: 50%;
    }

    .\-5u\28large\29 {
      margin-left: 41.66667%;
    }

    .\-4u\28large\29 {
      margin-left: 33.33333%;
    }

    .\-3u\28large\29 {
      margin-left: 25%;
    }

    .\-2u\28large\29 {
      margin-left: 16.66667%;
    }

    .\-1u\28large\29 {
      margin-left: 8.33333%;
    }

  }

  @media screen and (max-width: 980px) {

    .row > * {
      padding: 25px 0 0 25px;
    }

    .row {
      margin: -25px 0 -1px -25px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform > * {
      padding: 25px 0 0 25px;
    }

    .row.uniform {
      margin: -25px 0 -1px -25px;
    }
    *//* AIYA - Comment unused code */

    .row.\32 00\25 > * {
      padding: 50px 0 0 50px;
    }

    .row.\32 00\25 {
      margin: -50px 0 -1px -50px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 00\25 > * {
      padding: 50px 0 0 50px;
    }

    .row.uniform.\32 00\25 {
      margin: -50px 0 -1px -50px;
    }
    *//* AIYA - Comment unused code */

    .row.\31 50\25 > * {
      padding: 37.5px 0 0 37.5px;
    }

    .row.\31 50\25 {
      margin: -37.5px 0 -1px -37.5px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\31 50\25 > * {
      padding: 37.5px 0 0 37.5px;
    }

    .row.uniform.\31 50\25 {
      margin: -37.5px 0 -1px -37.5px;
    }
    *//* AIYA - Comment unused code */

    .row.\35 0\25 > * {
      padding: 12.5px 0 0 12.5px;
    }

    .row.\35 0\25 {
      margin: -12.5px 0 -1px -12.5px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\35 0\25 > * {
      padding: 12.5px 0 0 12.5px;
    }

    .row.uniform.\35 0\25 {
      margin: -12.5px 0 -1px -12.5px;
    }
    *//* AIYA - Comment unused code */

    .row.\32 5\25 > * {
      padding: 6.25px 0 0 6.25px;
    }

    .row.\32 5\25 {
      margin: -6.25px 0 -1px -6.25px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 5\25 > * {
      padding: 6.25px 0 0 6.25px;
    }

    .row.uniform.\32 5\25 {
      margin: -6.25px 0 -1px -6.25px;
    }
    *//* AIYA - Comment unused code */

    .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
      width: 100%;
      clear: none;
      margin-left: 0;
    }

    .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
      width: 91.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
      width: 83.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\39 u\28medium\29, .\39 u\24\28medium\29 {
      width: 75%;
      clear: none;
      margin-left: 0;
    }

    .\38 u\28medium\29, .\38 u\24\28medium\29 {
      width: 66.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\37 u\28medium\29, .\37 u\24\28medium\29 {
      width: 58.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\36 u\28medium\29, .\36 u\24\28medium\29 {
      width: 50%;
      clear: none;
      margin-left: 0;
    }

    .\35 u\28medium\29, .\35 u\24\28medium\29 {
      width: 41.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\34 u\28medium\29, .\34 u\24\28medium\29 {
      width: 33.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\33 u\28medium\29, .\33 u\24\28medium\29 {
      width: 25%;
      clear: none;
      margin-left: 0;
    }

    .\32 u\28medium\29, .\32 u\24\28medium\29 {
      width: 16.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 u\28medium\29, .\31 u\24\28medium\29 {
      width: 8.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\31 2u\24\28medium\29 + *,
    .\31 1u\24\28medium\29 + *,
    .\31 0u\24\28medium\29 + *,
    .\39 u\24\28medium\29 + *,
    .\38 u\24\28medium\29 + *,
    .\37 u\24\28medium\29 + *,
    .\36 u\24\28medium\29 + *,
    .\35 u\24\28medium\29 + *,
    .\34 u\24\28medium\29 + *,
    .\33 u\24\28medium\29 + *,
    .\32 u\24\28medium\29 + *,
    .\31 u\24\28medium\29 + * {
      clear: left;
    }

    .\-11u\28medium\29 {
      margin-left: 91.66667%;
    }

    .\-10u\28medium\29 {
      margin-left: 83.33333%;
    }

    .\-9u\28medium\29 {
      margin-left: 75%;
    }

    .\-8u\28medium\29 {
      margin-left: 66.66667%;
    }

    .\-7u\28medium\29 {
      margin-left: 58.33333%;
    }

    .\-6u\28medium\29 {
      margin-left: 50%;
    }

    .\-5u\28medium\29 {
      margin-left: 41.66667%;
    }

    .\-4u\28medium\29 {
      margin-left: 33.33333%;
    }

    .\-3u\28medium\29 {
      margin-left: 25%;
    }

    .\-2u\28medium\29 {
      margin-left: 16.66667%;
    }

    .\-1u\28medium\29 {
      margin-left: 8.33333%;
    }

  }

  @media screen and (max-width: 736px) {

    .row > * {
      padding: 20px 0 0 20px;
    }

    .row {
      margin: -20px 0 -1px -20px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform > * {
      padding: 20px 0 0 20px;
    }

    .row.uniform {
      margin: -20px 0 -1px -20px;
    }
    *//* AIYA - Comment unused code */

    .row.\32 00\25 > * {
      padding: 40px 0 0 40px;
    }

    .row.\32 00\25 {
      margin: -40px 0 -1px -40px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 00\25 > * {
      padding: 40px 0 0 40px;
    }

    .row.uniform.\32 00\25 {
      margin: -40px 0 -1px -40px;
    }
    *//* AIYA - Comment unused code */

    .row.\31 50\25 > * {
      padding: 30px 0 0 30px;
    }

    .row.\31 50\25 {
      margin: -30px 0 -1px -30px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\31 50\25 > * {
      padding: 30px 0 0 30px;
    }

    .row.uniform.\31 50\25 {
      margin: -30px 0 -1px -30px;
    }
    *//* AIYA - Comment unused code */

    .row.\35 0\25 > * {
      padding: 10px 0 0 10px;
    }

    .row.\35 0\25 {
      margin: -10px 0 -1px -10px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\35 0\25 > * {
      padding: 10px 0 0 10px;
    }

    .row.uniform.\35 0\25 {
      margin: -10px 0 -1px -10px;
    }
    *//* AIYA - Comment unused code */

    .row.\32 5\25 > * {
      padding: 5px 0 0 5px;
    }

    .row.\32 5\25 {
      margin: -5px 0 -1px -5px;
    }

    /* AIYA - Comment unused code *//*
    .row.uniform.\32 5\25 > * {
      padding: 5px 0 0 5px;
    }

    .row.uniform.\32 5\25 {
      margin: -5px 0 -1px -5px;
    }
    *//* AIYA - Comment unused code */

    .\31 2u\28small\29, .\31 2u\24\28small\29 {
      width: 100%;
      clear: none;
      margin-left: 0;
    }

    .\31 1u\28small\29, .\31 1u\24\28small\29 {
      width: 91.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 0u\28small\29, .\31 0u\24\28small\29 {
      width: 83.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\39 u\28small\29, .\39 u\24\28small\29 {
      width: 75%;
      clear: none;
      margin-left: 0;
    }

    .\38 u\28small\29, .\38 u\24\28small\29 {
      width: 66.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\37 u\28small\29, .\37 u\24\28small\29 {
      width: 58.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\36 u\28small\29, .\36 u\24\28small\29 {
      width: 50%;
      clear: none;
      margin-left: 0;
    }

    .\35 u\28small\29, .\35 u\24\28small\29 {
      width: 41.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\34 u\28small\29, .\34 u\24\28small\29 {
      width: 33.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\33 u\28small\29, .\33 u\24\28small\29 {
      width: 25%;
      clear: none;
      margin-left: 0;
    }

    .\32 u\28small\29, .\32 u\24\28small\29 {
      width: 16.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 u\28small\29, .\31 u\24\28small\29 {
      width: 8.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\31 2u\24\28small\29 + *,
    .\31 1u\24\28small\29 + *,
    .\31 0u\24\28small\29 + *,
    .\39 u\24\28small\29 + *,
    .\38 u\24\28small\29 + *,
    .\37 u\24\28small\29 + *,
    .\36 u\24\28small\29 + *,
    .\35 u\24\28small\29 + *,
    .\34 u\24\28small\29 + *,
    .\33 u\24\28small\29 + *,
    .\32 u\24\28small\29 + *,
    .\31 u\24\28small\29 + * {
      clear: left;
    }

    .\-11u\28small\29 {
      margin-left: 91.66667%;
    }

    .\-10u\28small\29 {
      margin-left: 83.33333%;
    }

    .\-9u\28small\29 {
      margin-left: 75%;
    }

    .\-8u\28small\29 {
      margin-left: 66.66667%;
    }

    .\-7u\28small\29 {
      margin-left: 58.33333%;
    }

    .\-6u\28small\29 {
      margin-left: 50%;
    }

    .\-5u\28small\29 {
      margin-left: 41.66667%;
    }

    .\-4u\28small\29 {
      margin-left: 33.33333%;
    }

    .\-3u\28small\29 {
      margin-left: 25%;
    }

    .\-2u\28small\29 {
      margin-left: 16.66667%;
    }

    .\-1u\28small\29 {
      margin-left: 8.33333%;
    }

  }

  /* AIYA - Added missing size */
  /*        Source: https://github.com/n33/baseline/blob/master/assets/css/main.css */
  @media screen and (max-width: 615px) {

    .row > * {
      padding: 20px 0 0 20px;
    }

    .row {
      margin: -20px 0 -1px -20px;
    }

    .row.uniform > * {
      padding: 20px 0 0 20px;
    }

    .row.uniform {
      margin: -20px 0 -1px -20px;
    }

    .row.\32 00\25 > * {
      padding: 40px 0 0 40px;
    }

    .row.\32 00\25 {
      margin: -40px 0 -1px -40px;
    }

    .row.uniform.\32 00\25 > * {
      padding: 40px 0 0 40px;
    }

    .row.uniform.\32 00\25 {
      margin: -40px 0 -1px -40px;
    }

    .row.\31 50\25 > * {
      padding: 30px 0 0 30px;
    }

    .row.\31 50\25 {
      margin: -30px 0 -1px -30px;
    }

    .row.uniform.\31 50\25 > * {
      padding: 30px 0 0 30px;
    }

    .row.uniform.\31 50\25 {
      margin: -30px 0 -1px -30px;
    }

    .row.\35 0\25 > * {
      padding: 10px 0 0 10px;
    }

    .row.\35 0\25 {
      margin: -10px 0 -1px -10px;
    }

    .row.uniform.\35 0\25 > * {
      padding: 10px 0 0 10px;
    }

    .row.uniform.\35 0\25 {
      margin: -10px 0 -1px -10px;
    }

    .row.\32 5\25 > * {
      padding: 5px 0 0 5px;
    }

    .row.\32 5\25 {
      margin: -5px 0 -1px -5px;
    }

    .row.uniform.\32 5\25 > * {
      padding: 5px 0 0 5px;
    }

    .row.uniform.\32 5\25 {
      margin: -5px 0 -1px -5px;
    }

    .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
      width: 100%;
      clear: none;
      margin-left: 0;
    }

    .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
      width: 91.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
      width: 83.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
      width: 75%;
      clear: none;
      margin-left: 0;
    }

    .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
      width: 66.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
      width: 58.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
      width: 50%;
      clear: none;
      margin-left: 0;
    }

    .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
      width: 41.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
      width: 33.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
      width: 25%;
      clear: none;
      margin-left: 0;
    }

    .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
      width: 16.6666666667%;
      clear: none;
      margin-left: 0;
    }

    .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
      width: 8.3333333333%;
      clear: none;
      margin-left: 0;
    }

    .\31 2u\24\28xsmall\29 + *,
    .\31 1u\24\28xsmall\29 + *,
    .\31 0u\24\28xsmall\29 + *,
    .\39 u\24\28xsmall\29 + *,
    .\38 u\24\28xsmall\29 + *,
    .\37 u\24\28xsmall\29 + *,
    .\36 u\24\28xsmall\29 + *,
    .\35 u\24\28xsmall\29 + *,
    .\34 u\24\28xsmall\29 + *,
    .\33 u\24\28xsmall\29 + *,
    .\32 u\24\28xsmall\29 + *,
    .\31 u\24\28xsmall\29 + * {
      clear: left;
    }

    .\-11u\28xsmall\29 {
      margin-left: 91.66667%;
    }

    .\-10u\28xsmall\29 {
      margin-left: 83.33333%;
    }

    .\-9u\28xsmall\29 {
      margin-left: 75%;
    }

    .\-8u\28xsmall\29 {
      margin-left: 66.66667%;
    }

    .\-7u\28xsmall\29 {
      margin-left: 58.33333%;
    }

    .\-6u\28xsmall\29 {
      margin-left: 50%;
    }

    .\-5u\28xsmall\29 {
      margin-left: 41.66667%;
    }

    .\-4u\28xsmall\29 {
      margin-left: 33.33333%;
    }

    .\-3u\28xsmall\29 {
      margin-left: 25%;
    }

    .\-2u\28xsmall\29 {
      margin-left: 16.66667%;
    }

    .\-1u\28xsmall\29 {
      margin-left: 8.33333%;
    }

  }
