// AIYA - Altered stylesheets
// @import 'libs/vars';
// @import 'libs/functions';
// @import 'libs/mixins';
@import 'libs/vendor/verti/vars';
@import 'libs/vendor/verti/functions';
@import 'libs/vendor/verti/mixins';
// AIYA - Altered stylesheets
@charset "UTF-8";
// AIYA - Altered stylesheets
@import 'libs/vendor/fontello/fontello-embedded';
// @import url("/stylesheets/precompiled/font-awesome.min.css");
// AIYA - Altered stylesheets
@import url("//fonts.googleapis.com/css?family=Corben:400|Roboto+Slab:300,300italic,500,700&subset=latin,latin-ext");

/*
	Verti by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	// AIYA - Altered stylesheets
	// @import "libs/skel";
	@import "libs/vendor/skel/skel-custom";
	// AIYA - Altered stylesheets

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 615px)'
	));

	@import url("/stylesheets/skel-layout.css");
	// AIYA - Already compiled Verti code
	//        This precompiled version of this code is used because it requires SASS 3.4+,
	//        which `node-sass` (more technically `libsass`) does not support - 2015/07/12
	// @include skel-layout((
	// 	reset: 'full',
	// 	boxModel: 'border',
	// 	grid: ( gutters: (40px, 40px) ),
	// 	conditionals: true,
	// 	containers: 1400px,
	// 	breakpoints: (
	// 		xlarge: (
	// 			containers: 1200px
	// 		),
	// 		large: (
	// 			containers: 960px,
	// 			grid: ( gutters: (25px, 25px) )
	// 		),
	// 		medium: (
	// 			containers: (90%, true)
	// 		),
	// 		small: (
	// 			containers: (100%, true),
	// 			grid: ( gutters: (20px, 20px) )
	// 		)
	// 	)
	// ));
	// AIYA - Already compiled Verti code

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	// AIYA - Minimum page dimensions
	html {
		min-width: 320px;
	}

	body {
		// AIYA - Verti code that could not be compiled
		//        The Verti `vendor` mixin is supposed to be able
		//        to handle the property `background-image` well,
		//        but node plugin `node-sass` fialed to do so.
		//        Not important, because we use `grunt-autoprefixer`.
		// @include vendor('background-image', ('linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0))', 'url("/images/background-main.png")'));
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("/images/background-main.png");
		// AIYA - Verti code that could not be compiled
		background-color: #f7f7f7;
		background-position: top left, top left;
		background-repeat: repeat-x, repeat;
		background-size: 100% 30em, auto;
		font-family: 'Roboto Slab', serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;

		&.is-loading * {
			transition: none !important;
			animation: none !important;
		}
	}

	input, select, textarea {
		font-family: 'Roboto Slab', serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}

	a {
		color: #0090c5;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		color: #444;
		font-weight: 400;
		font-family: 'Corben', serif;

		a {
			color: inherit;
			text-decoration: none;
			outline: 0;
		}
	}

	h2 {
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
	}

	h3 {
		font-size: 1.35em;
		margin: 0 0 0.75em 0;
	}

	b, strong {
		font-weight: 700;
		// AIYA - Remove superfluous style
		// color: #444;
		// AIYA - Remove superfluous style
	}

	i, em {
		font-style: italic;
	}

	br.clear {
		clear: both;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	/* AIYA - New tags */

	big {
		font-size: 2em;
	}

	small {
		font-size: 0.5em;
	}

	/* AIYA - New tags */

	hr {
		border: 0;
		border-top: solid 1px #eee;
	}

	blockquote {
		border-left: solid 0.5em #eee;
		padding: 1em 0 1em 2em;
		font-style: italic;

		cite {
			display: block;
			text-align: right;
		}
	}

	q > span,
	address > a {
		white-space: nowrap;
	}

	p, ul, ol, dl, table {
		margin-bottom: 2em;
	}

/* Section/Article */

	section, article {
		margin-bottom: 5em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

	header {
		margin: 0 0 2em 0;

		h2, h3 {
			margin: 0 0 0.25em 0;
		}

		p {
			margin: 0;
		}
	}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Forms */

	form {
		label {
			display: block;
			font-weight: 700;
			margin: 0 0 1em 0;
			font-size: 0.8em;
			color: #444;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		select,
		textarea {
			-webkit-appearance: none;
			display: block;
			width: 100%;
			border-radius: 8px;
			border: solid 1px #eee;

			&:focus {
				border-color: #0090c5;
			}
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			line-height: 3em;
			padding: 0 1em;
		}

		select {
			line-height: 3em;
			padding: 0 1em;
		}

		textarea {
			min-height: 9em;
			padding: 1em;
		}

		.formerize-placeholder {
			color: #555 !important;
		}

		::-webkit-input-placeholder {
			color: #555 !important;
		}

		:-moz-placeholder {
			color: #555 !important;
		}

		::-moz-placeholder {
			color: #555 !important;
		}

		:-ms-input-placeholder {
			color: #555 !important;
		}

		::-moz-focus-inner {
			border: 0;
		}
	}

// AIYA - New category
/* Summary / Details */

	summary {
		position: relative;

		&::-webkit-details-marker {
			display: none;
		}

		&:before {
			details & {
				content: "▶︎"; /* the new icon */
				color: #000;
				margin-right: 0.5em;
			}
			details[open] & {
				content: "▼"; /* the new icon */
			}
		}
		&.block:before {
			details & {
				position: absolute;
				left: -1.5em;
			}
		}
	}

// AIYA - New category

/* Tables */

	table {
		width: 100%;

		// AIYA - New table cell classes
		td, th {
			text-align: left;

			&.numeric {
				text-align: right;
			}
		}
		tbody {
			td {
				&.numeric {
					font-family: monospace;
				}
			}
		}
		// AIYA - New table cell classes

		// AIYA - New variant
		&.static {
			caption {
				text-align: left;

				h1, h2, h3, h4, h5, h6 {
					@extend .truncated;
					margin-bottom: 0;
				}
			}
		}
		// AIYA - New variant

		// AIYA - New variant (using name of renamed variant)
		&.default {
			// AIYA - Remove reduntant style
			// width: 100%;
			// AIYA - Remove reduntant style

			tr {
				border-top: solid 1px #eee;

				&:first-child {
					border-top: 0;
				}
			}

			td {
				padding: 0.5em 1em 0.5em 1em;
			}

			th {
				padding: 0.5em 1em 0.5em 1em;
				font-weight: 700;
				margin: 0 0 1em 0;
			}
		}
		// AIYA - New variant (using name of renamed variant)

		// AIYA - Rename variant
		&.heavy {
			// AIYA - Remove reduntant style
			// width: 100%;
			// AIYA - Remove reduntant style

			tr {
				border-top: solid 1px #eee;

				&:first-child {
					border-top: 0;
				}
			}

			td {
				padding: 0.5em 1em 0.5em 1em;
			}

			th {
				text-align: left;
				padding: 0.5em 1em 0.5em 1em;
				font-weight: 700;
				margin: 0 0 1em 0;
			}

			thead {
				background: #404248;
				color: #fff;
			}
		}
		// AIYA - Rename variant
	}

/* Image */

	.image {
		display: inline-block;
		outline: 0;
		// AIYA - Copy image border radius to container
		border-radius: 8px;
		// AIYA - Copy image border radius to container

		// AIYA - Add border for image
		//        Functional, but not used
		// &:after {
		//   content: '';
		//   display: block;
		//   position: absolute;
		//   top: 0;
		//   left: 0;
		//   right: 0;
		//   bottom: 0;
		//   border: #0090c5 5px;
		//   border-radius: 8px;
		// }
		// AIYA - Add border for image

		img {
			display: block;
			width: 100%;
			border-radius: 8px;
		}

		&.fit {
			display: block;
			width: 100%;
			// AIYA - Crop large images
			overflow: hidden;
			// AIYA - Crop large images

			// AIYA - Square images
			&.square {
				img {
					@include breakpoint(xsmall) {
						// slightly center image vertically
						margin-top: -15%;
					}
				}
			}
			&.tall-square {
				img {
					width: 100%;
					height: auto;
				}
			}
			&.wide-square {
				img {
					height: 100%;
					width: auto;
				}
			}
			// AIYA - Tall images
			&.tall {
				height: auto;

				img {
					width: 100%;
					height: auto;
					// slightly center image vertically
					margin-top: -30%;

					@include breakpoint(xsmall) {
						// slightly center image vertically
						margin-top: -45%;
					}
				}
			}
			// AIYA - Wide images
			&.wide {
				width: auto;

				img {
					height: 100%;
					width: auto;
					// slightly center image horizontally
					margin-left: -15%;

					@include breakpoint(xsmall) {
						// slightly center image horizontally
						margin-left: -20%;
					}
				}
			}
			// AIYA - Wide images
			// AIYA - Large images
			&.large {
				height: 240px;
			}
			// AIYA - Large images
			// AIYA - Small images
			&.small {
				height: 76px;
			}
			// AIYA - Small images

			// AIYA - Consistent image styles
			img {
				// center horizontally an image that is too small
				margin: 0 auto;
			}
			// AIYA - Consistent image styles
		}

		&.featured {
			display: block;
			width: 100%;
			margin: 0 0 2.5em 0;
		}

		&.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		// AIYA - New image wrap type
		&.logo {
			img {
				border-radius: 0;
			}
		}
		// AIYA - New image wrap type

		&.centered {
			display: block;
			margin: 0 0 2.5em 0;

			img {
				margin: 0 auto;
				width: auto;
			}
		}
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		transition: background-color .25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: #0090c5;
		color: #fff;
		text-decoration: none;
		border-radius: 6px;
		// AIYA - Lighter font weight
		font-weight: 500;
		// font-weight: 700;
		// AIYA - Lighter font weight
		outline: 0;
		border: 0;
		cursor: pointer;
		font-size: 1.35em;
		padding: 0.6em 1.5em;

		&.icon:before {
			position: relative;
			margin-right: 0.5em;
			top: 0.05em;
		}

		&:hover {
			background: #10a0d5;
		}

		&:active {
			background: #20b0e5;
		}

		// AIYA - Disabled button styles
		&:disabled,
		&.disabled {
			cursor: default;
			opacity: 0.25;
		}
		// AIYA - Disabled button styles

		&.alt {
			background: #f1f1f1;
			background: rgba(0, 0, 0, 0.05);
			color: #444;

			&:hover {
				background: #e8e8e8;
				background: rgba(0, 0, 0, 0.085);
			}

			&:active {
				background: #e4e4e4;
				background: rgba(0, 0, 0, 0.15);
			}
		}

		&.big {
			font-size: 2.25em;
			padding: 0.8em 0.9em;
		}
	}

/* List */

	ul {
		&.default {
			list-style: disc;
			padding-left: 1em;

			li {
				padding-left: 0.5em;
			}
		}

		&.actions {
			li {
				display: inline-block;
				padding: 0 0 0 0.25em;
				margin: 0 0 0 0.25em;

				&:first-child {
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		&.menu {
			li {
				border-left: solid 1px #e0e0e0;
				display: inline-block;
				padding: 0 0 0 0.75em;
				margin: 0 0 0 0.75em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}

	ol {
		&.default {
			list-style: decimal;
			padding-left: 1.25em;
			li { 
				padding-left: 0.25em;
			}
		}
	}

/* Box */

	.box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 2em;

		&.feature {
			padding: 0;

			.inner {
				// AIYA - Less padding
				// padding: 4em 2em 3em 2em;
				padding: 2em 1.5em 1.5em;
				// AIYA - Less padding
			}

			// AIYA - Stronger sub-heading descriptions
			header {
				p {
					font-weight: 500;
				}
			}
			// AIYA - Stronger sub-heading descriptions

			h2 {
				font-size: 1.35em;
			}

			p {
				margin: 0;
			}

			.image {
				position: relative;
				margin: 0;

				// AIYA - Add border for image
				//        Functional, but not used
				// &:after {
				//   border: 5px solid #fff;; // Use sparingly
				// }
				// AIYA - Add border for image
			}
		}

		// AIYA - New variant
		&.special {
			background-color: #0090c5;
			color: #fff;

			h2 {
				color: #fff;
			}

			.image {
				&:after {
					border: 5px solid #0090c5;
				}
			}
		}
		// AIYA - New variant
	}

/* Icons */

	.icon {
		position: relative;
		text-decoration: none;

		&:before {
      // AIYA - Replaced font icon styles
      // -moz-osx-font-smoothing: grayscale;
      // -webkit-font-smoothing: antialiased;
      // font-family: FontAwesome;
      // font-style: normal;
      // font-weight: normal;
      // text-transform: none !important;
      // AIYA - Replaced font icon styles
		}

		> .label {
			display: none;
		}
	}

/* Widgets */

	.widget {
		&.links {
		}

		&.thumbnails {
			.grid {
				margin: 0 0 3em 0;
			}

			.image {
				margin: 0;
			}
		}

		&.contact {
			ul {
				overflow: hidden;
				position: relative;
				left: -4px;
				top: 4px;
				margin-bottom: 1.5em;

				li {
					display: inline-block;
					margin-right: 0.25em;

					a {
						transition: background-color .25s ease-in-out;
						display: inline-block;
						width: 2.5em;
						height: 2.5em;
						text-align: center;
						line-height: 2.5em;
						border-radius: 0.35em;
						outline: 0;
						opacity: 0.75;
						text-decoration: none;
						background: #222222;

						&:before {
							color: #f3f3f3;
							font-size: 1.75em;
							line-height: 1.5em;
						}

						&:hover {
							background: #444444;
						}

						&:active {
							background: #666666;
						}
					}
				}
			}
		}
	}

/* Wrappers */

	#header-wrapper {
		padding: 4.5em 0 1em 0;
	}

	#features-wrapper {
		padding: 3em 0 3em 0;
	}

	// AIYA - New wrapper
	#placeholder-wrapper {
		position: fixed;
		width: 50%;
		top: 50%;
		left: 25%;
		text-align: center;
		transform: translateY(-50%);

		#logo {
			width: 100%;
			display: block; // Allows margin merge with `<footer>`.
			margin-bottom: 2em;

			a {
				text-decoration: none;
			}
		}
	}
	// AIYA - New wrapper

	#main-wrapper {
		background: #fff;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 5em 0 5em 0;
	}

	#footer-wrapper {
		padding: 6em 0 8em 0;
	}

/* Header */

	#header {
		position: relative;
		margin-bottom: 1em;
	}

/* Logo */

	#logo {
		display: inline-block;

		h1 {
			// AIYA - Use image as logo
			// background: #0090c5;
			// color: #fff;
			height: 80px;
			width: 160px;
			background-image: url("/images/logo.png");
			background-repeat: no-repeat;
			background-color: transparent;
			color: transparent;
			// AIYA - Use image as logo
			border-radius: 6px;
			// AIYA - Move font to `span` tag
			// font-family: 'Corben', serif;
			// AIYA - Move font to `span` tag
			font-weight: 500;
			padding: 0.25em 0.2em 0.25em 0.2em;
			font-size: 3.25em;
			letter-spacing: 0.05em;
			display: inline-block;
			vertical-align: middle;
		}

		span {
			// AIYA - Move font from `h1` tag
			font-family: 'Corben', serif;
			font-variant: small-caps;
			// AIYA - Move font from `h1` tag
			font-weight: 400;
			line-height: 2em;
			letter-spacing: 0.025em;
			// AIYA - Larger font size
			// font-size: 0.9em;
			font-size: 2em;
			// AIYA - Larger font size
			vertical-align: middle;
			// AIYA - Move closer to logo
			// margin: 0 0 0 1.25em;
			margin: 0 0 0 0.75em;
			// AIYA - Move closer to logo
			// AIYA - Tweak position
			position: relative;
			top: -0.175em;
			// AIYA - Tweak position
		}
	}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		transform: translateY(-50%);
		top: 50%;
		font-size: 0.9em;

		ul {
			// AIYA - Technical correction
			overflow: hidden;
			margin-bottom: 0;
			// AIYA - Technical correction

			li {
				float: left;
				line-height: 4.5em;
				padding-left: 1.5em;

				a, span {
					transition: background-color .25s ease-in-out;
					// AIYA - Lighter font weight
					// font-weight: 700;
					font-weight: 500;
					// AIYA - Lighter font weight
					letter-spacing: 0.025em;
					color: #696969;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 1em 0.5em 1em;
				}

				> ul {
					display: none;
				}

				&:hover {
					a, span {
						background: #fff;
					}
				}

				&.active {
					a, span {
						background: #fff;
					}
				}

				&.current {
					a {
						background: #444;
						color: #fff;
					}
				}
			}
		}
	}

	.dropotron {
		background: #fff;
		letter-spacing: 0.025em;
		color: #696969;
		text-decoration: none;
		border-radius: 6px;
		padding: 0.75em 0;
		min-width: 15em;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.25em 0.25em 0.1em rgba(0, 0, 0, 0.025);
		margin-top: calc(-0.75em + 1px);
		margin-left: -1px;

		li {
			border-top: solid 1px #eee;
			line-height: 3em;

			&:first-child {
				border-top: 0;
			}

			> a, > span {
				transition: color .25s ease-in-out, background-color .25s ease-in-out;
				text-decoration: none;
				color: inherit;
				display: block;
				padding: 0 1.5em;

				&:hover {
					background: #eee;
				}
			}

			&.active {
				> a, > span {
					background: #eee;
				}
			}
		}

		&.level-0 {
			font-size: 0.8em;
			margin-left: 1.5em;
			margin-top: 0;

			&:before {
				content: '';
				position: absolute;
				top: -0.5em;
				// AIYA - Move arrow depending on menu orientation
				// left: 1em;
				// AIYA - Move arrow depending on menu orientation
				border-bottom: solid 0.75em #ffffff;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				z-index: 1;
			}
			// AIYA - Move arrow depending on menu orientation
			&.left:before {
				left: 2em;
			}
			&.right:before {
				right: 2em;
			}
			// AIYA - Move arrow depending on menu orientation
		}
	}

/* Banner */

	#banner {
		position: relative;
		padding: 3.0em;

		h2 {
			font-size: 3.5em;
			margin: 0.1em 0 0.35em 0;
		}

		p {
			font-size: 2.25em;
			line-height: 1.35em;
			margin: 0.35em 0 0 0;
		}

		.button {
			width: 100%;
			margin-bottom: 0.5em;
			// AIYA - Custom font weight
			font-weight: 700;
			// AIYA - Custom font weight

			&.icon {
				&:before {
					position: absolute;
					right: 0.15em;
					top: 50%;
					margin-top: -0.5em;
				}
			}

			&.alt {
				margin-bottom: 0;
			}
		}

		ul {
			margin: 0 0 0 2em;
		}

		// AIYA - Class for centering banner text
		&.alt {
			text-align: center;
		}
	}

/* Footer */

	#footer {
		margin-top: 0;

		a {
			color: inherit;
		}

		li.current {
			a {
				font-weight: 700;
			}
		}
	}

	#copyright {
		color: #aaa;
		padding: 4em 0 0 0;
		text-align: center;

		a {
			color: inherit;
		}
	}

// AIYA - New category
/* Browser-Upgrade */

	.browserupgrade {
		position: fixed;
		width: 100%;
		z-index: 1;
		background-color: #444;
		text-align: center;
		padding: 0 1em;
		margin: 0;
		color: #fff;

		a {
			color: #fff;
		}
	}

// AIYA - New category

// AIYA - New category
/* Sitemap */

	.sitemap {
		li {
			list-style: disc outside;

			&.parent {
				list-style: none;
			}
			ul {
				margin-bottom: 0;

				li {
					margin-left: 1em;
				}
			}
		}
		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		.trademark {
			display: none;
		}
		@include breakpoint(small) {
			ul + ul {
				padding-top: 0;
				margin-top: -2em;
			}
		}
	}

// AIYA - New category

// AIYA - New category
/* Map */

	.map {
		.row & {
			padding: 40px; // give equal space around row item
		}
	}

	.map-address {
		margin: 1em 0;

		&.complete {
			height: 6.75em;
		}
	}

	.map-canvas {
		width: 100%;
		height: 500px;
		display: block;
		border: 1px solid #444;
	}

// AIYA - New category

// AIYA - New category
/* Animations */

	@mixin highlight {
		box-shadow: 0 0 2em 1em rgba( 255, 238, 0, 0.15 ); // opposite of #0092c7
		background-color: rgba( 255, 238, 0, 0.15 ); // opposite of #0092c7
	}
	@mixin no-highlight {
		box-shadow: 0 0 2em 1em transparent;
	}

	@keyframes highlight {
		from { @include highlight; }
		to { @include no-highlight; }
	}

// AIYA - New category

// AIYA - New category
/* Pseudo-Selectors */

	:target {
		animation: highlight 2s;
	}
	.constant-target:target {
		position: relative;

		&:after {
			content: '📌';
			font-size: 2em;
			position: absolute;
			top: 0;
			right: -0.5em;
		}
	}

// AIYA - New category

// AIYA - New category
/* Utility */

	// For trademark-style insignia
	.trademark {
		// ...
	}

	// For weaker text
	.weak {
		opacity: 0.5;
	}

	// For lists that need tags other than `<ul>` and `<ol>`
	.list {
		.list-item {
			white-space: nowrap;
			margin-right: 0.5em;
		}
	}

	// For items that need not be shown (but may take up space)
	.extraneous {
		visibility: hidden;
	}

	// For truncating long text
	.truncated {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
	}

	// We do not want headers to lose `display: block`
	h1, h2, h3, h4, h5, h6 {
		&.truncated {
			display: block;
		}
	}

// AIYA - New category

// AIYA - Extend vendor code

	.row {
		.standalone {
			float: none;
			margin: 0 auto;
		}
	}

// AIYA - Extend vendor code

/* XLarge */

	@include breakpoint(xlarge) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Large */

	@include breakpoint(large) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				&.big {
					padding: 0.8em 0.4em 0.8em 0.6em;
				}
			}

		/* Logo */

		// AIYA - Move closer to logo
		#logo span {
			margin: 0 0 0 0.3em;
		}
		// AIYA - Move closer to logo

		/* Banner */

			#banner {
				.button {
					&.icon {
						&:before {
							right: 0;
						}
					}
				}
			}

	}

/* Medium */

	#navPanel, #navToggle {
		display: none;
	}

	@include breakpoint(medium) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Section/Article */

			section, article {
				clear: both;
				margin-bottom: 3em !important;
			}

			section.last, article.last {
				margin-bottom: 0 !important;
			}

		/* Image */

			.image {
				&.left {
					width: 25%;
					margin-bottom: 2em !important;
				}
			}

		/* List */

			ul {
				&.menu {
					li {
						display: block;
						border: 0 !important;
						padding: 0 !important;
						margin: 0 !important;
					}
				}

				&.actions {
					li {
						display: block;
						padding: 0;
						margin: 1em 0 0 0;

						&:first-child {
							margin-top: 0;
						}
					}
				}
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				width: 100%;
				text-align: center;
				font-size: 1.35em;
				padding: 0.85em 0 !important;

				&.icon {
					padding-right: 0.75em !important;

					&:before {
						margin-right: 0.5em;
						top: 0.05em;
					}
				}
			}

		/* Wrappers */

			#header-wrapper {
				padding: 3em 0 1em 0;
				text-align: center;
			}

			#footer-wrapper {
				padding: 6em 0 4em 0;
			}

		/* Header */

			#header {
				margin: 0 auto;
			}

		/* Logo */

			#logo span {
				display: block;
				margin: 0;
			}

		/* Nav */

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding: 3.0em 2em;
				text-align: center;

				ul {
					margin: 2em 0 0 0;
				}

				.button {
					&.icon {
						&:before {
							position: relative;
							right: auto;
							top: auto;
						}
					}
				}
			}

		/* Content */

			#content {
				border-bottom: solid 1px #e8e8e8;
				padding-bottom: 4em;
				margin-bottom: 0 !important;

				> :last-child {
					margin-bottom: 0 !important;
				}
			}

			#sidebar {
				> :last-child {
					margin-bottom: 0 !important;
				}
			}

		/* Footer */

			#copyright {
				padding: 0;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				backface-visibility: hidden;
				transition: transform #{_duration(navPanel)} ease;
				padding-bottom: 1px;
			}

			#navToggle {
				backface-visibility: hidden;
				transition: transform #{_duration(navPanel)} ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: _misc(z-index-base) + 1;

				.toggle {
					width: 70px;
					height: 50px;
					opacity: 0.35;

					&:before {
						display: inline-block;
						// AIYA - Use "fontello" icon
						text-decoration: none;
						// AIYA - Use "fontello" icon
						// text-decoration: none;
						// font-style: normal;
						// font-weight: normal;
						// AIYA - Use "fontello" icon
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						position: absolute;
						left: 6px;
						top: 6px;
						background: rgba(0, 0, 0, 0.5);
						width: 58px;
						height: 38px;
						border-radius: 6px;
						// AIYA - Use "fontello" icon
						// content: '\f0c9';
						// AIYA - Use "fontello" icon
						color: #fff;
						text-align: center;
						line-height: 38px;
						font-size: 20px;
					}

					&:active {
						opacity: 0.75;
					}
				}
			}

			#navPanel {
				backface-visibility: hidden;
				transform: translateX(#{_size(navPanel) * -1});
				transition: transform #{_duration(navPanel)} ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: _size(navPanel);
				z-index: _misc(z-index-base) + 2;
				background: #fff;
				box-shadow: inset -3px 0px 0px 0px #dfdfdf;
				padding: 0 23px 0 20px;

				.link {
					display: block;
					text-decoration: none;
					height: 54px;
					line-height: 54px;
					border-top: solid 1px #e8e8e8;
					color: #696969;

					&:first-child {
						border-top: 0;
					}
				}

				.indent-1 {
					display: inline-block;
					width: 1em;
				}

				.indent-2 {
					display: inline-block;
					width: 2em;
				}

				.indent-3 {
					display: inline-block;
					width: 3em;
				}

				.indent-4 {
					display: inline-block;
					width: 4em;
				}

				.indent-5 {
					display: inline-block;
					width: 5em;
				}

				.depth-0 {
					color: #444;
					font-weight: 700;
				}
			}

			body {
				&.navPanel-visible {
					#page-wrapper {
						transform: translateX(#{_size(navPanel)});
					}

					#navToggle {
						transform: translateX(#{_size(navPanel)});
					}

					#navPanel {
						transform: translateX(0);
					}
				}
			}

	}

/* Small */

	@include breakpoint(small) {

		/* Basic */

			body, input, select, textarea {
				line-height: 2em;
			}

			h2, h3, h4, h5, h6 {
				font-size: 13pt;
				margin: 0 0 1em 0;
			}

		/* Section/Article */

			section, article {
				clear: both;
				margin-bottom: 3em !important;

				&.last {
					margin-bottom: 0 !important;
				}
			}

		/* Image */

			.image {
				&.left {
					width: 25%;
					margin-bottom: 2em !important;
				}
			}

		/* List */

			ul {
				&.menu {
					li {
						display: block;
						border: 0 !important;
						padding: 0 !important;
						margin: 0 !important;
					}
				}

				&.actions {
					li {
						display: block;
						padding: 0;
						margin: 1em 0 0 0;

						&:first-child {
							margin-top: 0;
						}
					}
				}
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				width: 100%;
				text-align: center;
				font-size: 1.25em !important;
				padding: 0.65em 0 !important;

				&.icon {
					padding-right: 0.75em !important;

					&:before {
						margin-right: 0.5em;
						top: 0.05em;
					}
				}
			}

		/* Box */

			.box {
				padding: 15px 15px 15px 15px;
				margin: 0;

				&.feature {
					margin: 20px 0 0 0 !important;
					padding: 0;

					.inner {
						padding: 30px 15px 30px 15px;
					}

					p {
						margin: 0;
					}
				}
			}

		/* Widgets */

			.widget {
				&.thumbnails {
					.image {
						margin: 0;
					}

					.x {
						padding: 1em 0.5em 0 0;
					}

					.y {
						padding: 1em 0 0 0.5em;
					}

					.row:first-child {
						.x, .y {
							padding-top: 0;
						}
					}
				}
			}

		/* Wrappers */

			#header-wrapper {
				padding: 3em 0 1.5em 0;
			}

			#banner-wrapper {
				padding: 0 15px 0 15px;
			}

			#features-wrapper {
				padding: 0 15px 40px 15px;
			}

			// AIYA - New wrapper
			#placeholder-wrapper {
				width: 80%;
				left: 10%;
			}
			// AIYA - New wrapper

			#main-wrapper, #footer-wrapper {
				padding: 40px 30px 40px 30px;
			}

		/* Logo */

			#logo {
				h1 {
					font-size: 2.75em;
					padding: 0.2em 0.275em;
				}

				span {
					line-height: 3em;
				}
			}

		/* Banner */

			#banner {
				text-align: center;
				padding: 15px 15px 15px 15px;
				margin: 0 auto !important;

				h2 {
					font-size: 2em;
					margin: 0.75em 0 0.5em 0;
				}

				p {
					font-size: 1.5em;
					line-height: 1.5em;
					margin: 0;
				}

				ul {
					margin: 0;
				}

				.button {
					margin: 0 0 1em 0;
				}
			}

		/* Content */

			#content {
				padding-bottom: 3em;

			}

		/* Footer */

			#footer {
				section {
					border-bottom: solid 1px #ccc;
					padding-bottom: 3em;
					margin-bottom: 1em !important;
				}
			}

			#copyright {
				text-align: left;
			}

		// AIYA - New category
		/* Utility */

			.extraneous {
				display: none;
			}

		// AIYA - New category

		// AIYA - New category
		/* Map */

			.map-address {
				margin: 1em 0;
			}

		// AIYA - New category

	}